body {
  background-color: #26191b;
  width: 100%;
}

p {
  font-size: 4rem;
  font-family: 'Lobster';
}

/* Header */
#title {
  text-align: center;
}

.header-main {
  font-family: 'Lobster';
  color: #fff;
  position: absolute;
  right: 60%;
  top: 15%;
  font-size: 6rem;
}

@media (max-width: 1663px) {
  .header-main {
    top: 10%;
    font-size: 4rem;
  }
}

@media (max-width: 760px) {
  .header-main {
    top: 10%;
    font-size: 2rem;
  }
}

.header-main-under {
  font-family: 'Darker Grotesque', sans-serif;
  position: absolute;
  right: 50%;
  top: 45%;
  font-size: 2.5rem;
}

@media (max-width: 760px) {
  .header-main-under {
    font-size: 1rem;
  }
}

.header-picture {
  width: 100%;
}

.header {
  padding-left: 0;
  padding-right: 0;
}

/* Features */
#feauters {
  font-family: 'Darker Grotesque', sans-serif;
  text-align: left;
  padding: 8% 17.5%;
  color: #af8baf;
}

.text-main-title {
  line-height: 2;
}

@media (max-width: 760px) {
  .text-main-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

.text-main {
  font-weight: lighter;
  background-color: #26191b;
  line-height: 1.5;
}

@media (max-width: 760px) {
  .text-main {
    font-size: 1rem;
    text-align: center;
  }
}

/* Gallery */
#gallery {
  text-align: center;
  color: #af8baf;
  padding: 8% 12%;
}

.gallery-logos {
  width: 40%;
  padding: 10%;
}

.indicator-color {
  color: #af8baf;
}

/* Footer */
#footer {
  text-align: center;
  color: #af8baf;
  margin: 40px 0 10px 0;
}

#footer p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1rem;
}

.footer-icon {
  padding: 20px 10px;
  color: #af8baf;
}
.footer-icon:hover{
  color: #f6acc8;
}
